################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/profe-puedo-ir-al-banio/v16/Browse.VC.db
